{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
	<title>
		{{ page_title }}
	</title>
{% endblock title %}


{% block content %}

	<body class="g-sidenav-show   bg-gray-100">
	<div class="min-height-300 bg-primary position-absolute w-100"></div>

	<!-- Sidebar Start -->
	{% include 'sidebar.html' %}
	<!-- Sidebar End -->

	<!-- Main Content Start -->
	<main class="main-content position-relative border-radius-lg ">

		<!-- Navbar Start -->
		{% include 'navbar.html' %}
		<!-- Navbar End -->

		<div class="container-fluid py-4">
			<div class="row">
				<div class="col-12">
					<div class="card mb-4">
						<div class="card-header pb-0">
							<!-- <h6>Clients</h6> -->
							<div class="row">
								<div class="col-6 d-flex align-items-center">
									{% if products|length > 0 %}
										<h3 class="mb-0">Products</h3>
									{% else %}
										<h3 class="mb-0">Add First Product</h3>
									{% endif %}
								</div>
								<div class="col-6 text-end">
									<a class="btn btn-primary btn-sm mb-0" href="{% url 'create-invoice' %}">Add New
										Product's</a>
								</div>

								<div class="container">
									<div class="row">
										<div class="col-sm"></div>
										<div class="col-sm">
											{% if messages %}
												{% for message in messages %}
													{% if message.tags == 'error' %}
														<div class="alert alert-danger" id="clientAlert" role="alert"
														     style="color: white;">
															{{ message }}
														</div>
													{% else %}
														<div class="alert alert-{{ message.tags }}" role="alert"
														     id="clientAlert" style="color: white;">
															{{ message }}
														</div>
													{% endif %}
												{% endfor %}
											{% endif %}
										</div>
										<div class="col-sm"></div>
									</div>
								</div>

							</div>
						</div>
						<div class="card-body px-0 pt-0 pb-2">

							{% if products|length > 0 %}
								<!-- If Products are present display product-->
								<div class="table-responsive">
									<table class="table align-items-center mb-0 mt-3 table-striped">
										<thead>
										<tr>
											<th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
												Title
											</th>
											<th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
												Description
											</th>
											<th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
												Quantity
											</th>
											<th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
												Price
											</th>
											<th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
												Total Price
											</th>
											<th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
												Created at
											</th>
											<th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
												Actions
											</th>
											<th class="text-secondary opacity-7"></th>
										</tr>
										</thead>
										<tbody>

										<!-- Products Data Start -->
										{% for product in products %}
											<tr>
												<td>
													<div class="d-flex px-2 py-1">
														<div class="d-flex flex-column justify-content-center">
															<h6 class="mb-0 text-sm">{{ product.title }}</h6>
														</div>
													</div>
												</td>

												<td>
													<p class="text-xs font-weight-bold mb-0">
														{{ product.description|slice:"100" }}
														{% if product.description|length > 100 %}...{% endif %}
													</p>
												</td>
												<td class="align-middle text-center">
													<span class="text-secondary text-xs font-weight-bold">{{ product.quantity }}</span>
												</td>
												<td class="align-middle text-center">
													<span class="text-secondary text-xs font-weight-bold">{{ product.price }}</span>
												</td>
												<td class="align-middle text-center">
													<span class="text-secondary text-xs font-weight-bold">{{ product.currency }} {{ product.calculate_total_price }}</span>
												</td>
												<td class="align-middle text-center">
													<span class="text-secondary text-xs font-weight-bold">{{ product.created_at|date }}</span>
												</td>
												<td class="align-bottom text-center align-items-center">
													<span class="btn bg-gradient-primary btn-sm"
													      style="color: white; text-decoration: none;">
														<a href="{% url 'create-build-invoice' product.invoice.slug %}"
														   style="color: white; text-decoration: none;">View</a>
												    </span>
													<span class="btn bg-gradient-danger btn-sm">
												        <a href="{% url 'product-delete' product.slug %}"
												           style="color: white; text-decoration: none;">Delete</a>
												    </span>
												</td>
												<td class="align-middle">
													<a href="javascript:;"
													   class="text-secondary font-weight-bold text-xs"
													   data-toggle="tooltip" data-original-title="Edit user">
														Edit
													</a>
												</td>
											</tr>
										{% endfor %}
										<!-- Products Data End -->
										</tbody>
									</table>
								</div>
							{% else %}
								<div class="row">

									<div class="col-sm-2"></div>
									<div class="col-sm-8">
										<img src="{% static 'assets/svg/add-product.svg' %}" alt="Add Client"
										     class="mb-5">
									</div>

									<div class="col-sm-2"></div>
								</div>
							{% endif %}

						</div>
					</div>
				</div>
			</div>

			<!-- Plugin Start -->
			{% include 'plugin.html' %}
			<!-- Plugin End -->

			<footer class="footer pt-3  ">
				<div class="container-fluid">
					<div class="row align-items-center justify-content-lg-between">
						<div class="col-lg-6 mb-lg-0 mb-4">
							<div class="copyright text-center text-sm text-muted text-lg-start">
								©
								<script>
                                    document.write(new Date().getFullYear())
								</script>
								,
								made with <i class="fa fa-heart"></i>
							</div>
						</div>
					</div>
				</div>
			</footer>
		</div>
	</main>

	</body>



{% endblock content %}


<!-- Scripts Start -->
{% block scripts %}

	<script type="text/javascript">
        var alertElement = document.getElementById("clientAlert");

        function hideAlert() {
            alertElement.style.display = "none";
        }

        setTimeout(hideAlert, 3000);

	</script>
{% endblock scripts %}
<!-- Scripts End -->